In [3]:
import duckdb
import pandas as pd

## Create new data base using duckdb or select database if it's created before

In [9]:
sql_query = '''show tables'''

with duckdb.connect('./data/nyc_parking_violations.db') as conn:
    display(conn.sql(sql_query).df())

                      name
0              first_model
1   parking_violation_2023
2  parking_violation_codes
3                ref_model

## Run a select query

In [22]:
sql_show_tables = '''
show tables
'''

with duckdb.connect('./data/nyc_parking_violations.db') as conn:
    display(conn.sql(sql_show_tables).df())

                              name
0   bronze_parking_violation_codes
1        bronze_parking_violations
2                      first_model
3              gold_ticket_metrics
4            gold_vehicles_metrics
5           parking_violation_2023
6          parking_violation_codes
7                        ref_model
8   silver_parking_violation_codes
9        silver_parking_violations
10        silver_violation_tickets
11       silver_violation_vehicles

In [21]:
sql_query = '''
select * from "nyc_parking_violations"."main_dbt_test__audit"."violation_codes_revenue"
'''

with duckdb.connect('./data/nyc_parking_violations.db') as conn:
    display(conn.sql(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

## Create new tables using csv files

In [5]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS 
SELECT * 
FROM read_csv_auto(
 './data/dof_parking_violation_codes.csv', 
 normalize_names=True
) 
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS 
SELECT * 
FROM read_csv_auto(
 './data/parking_violations_issued_fiscal_year_2023_sample.csv', 
 normalize_names=True
) 
'''

with duckdb.connect('./data/nyc_parking_violations.db') as conn:
    conn.sql(sql_query_import_1)
    conn.sql(sql_query_import_2)

## Running on production

In [23]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS 
SELECT * 
FROM read_csv_auto(
 './data/dof_parking_violation_codes.csv', 
 normalize_names=True
) 
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS 
SELECT * 
FROM read_csv_auto(
 './data/parking_violations_issued_fiscal_year_2023_sample.csv', 
 normalize_names=True
) 
'''

with duckdb.connect('./data/prod_nyc_parking_violations.db') as conn:
    conn.sql(sql_query_import_1)
    conn.sql(sql_query_import_2)

In [24]:
sql_show_tables = '''
show tables
'''

with duckdb.connect('./data/prod_nyc_parking_violations.db') as conn:
    display(conn.sql(sql_show_tables).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2             gold_ticket_metrics
3           gold_vehicles_metrics
4          parking_violation_2023
5         parking_violation_codes
6        silver_violation_tickets
7       silver_violation_vehicles