In [1]:
import duckdb
import pandas as pd

In [3]:
sql_query = '''show tables'''

with duckdb.connect('./flight_prices/dev.duckdb') as conn:
    display(conn.sql(sql_query).df())

                                        name
0                                flight_list
1                              flight_prices
2                         my_first_dbt_model
3                        my_second_dbt_model
4                              nynj_zipcodes
5  total_flight_by_airline_departure_morning